body{
    background-color:red;
    font-family: Arial, sans-serif;
    margin:20px;
}

nav{
    margin-bottom:20px;
}

.caja{
    border:2px solid black;
    padding:15px;
    margin:10px;
    width:200px;
    background:white;
}

.contenedor{
    display:flex;
    flex-wrap:wrap;
}

button{
    padding:10px;
    margin:10px 0;
}

.tarjeta{
    border:2px solid gray;
    width:200px;
    padding:15px;
    margin:10px;
    cursor:pointer;
    background:white;
}

.seleccionada{
    background:lightgreen;
}